.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body{
  background-color: rgb(242, 242, 242) !important;
}

a{
  text-decoration: none;
}

.logoutButton{
  margin-top: 0px;
  float: right;
  margin-right: 30px;
  padding-top: 20px;
  color: white;
}

.display-info-wrapper{
  margin-right: 30px;
  margin-left: 30px;
}

.logoutButton:visited{
  color: white;
}

.landingWrapper{
background-image: url("imgs/black-and-white-city-houses-skyline (1).jpg");
background-size: 100% 100%;
margin-top: 0px;
width: 100%;
height: 900px;
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
}

.introMessage{
  width: 100%;
}

.landingForm{
height: 350px;
width: 315px;
background: rgba(248, 249, 250, 0.8);
border-radius: 50px;
}

.completeButton{
  background: rgba(209, 46, 37,0.9);
  height: 60px;
  width: 150px;
  color: white;
  border-radius: 10px;
  border: 1px solid white;
}

.completeButton:hover{
  cursor: pointer;
}

.dynamic-changer-wrap{
  display: 
}

@media only screen and (max-width: 450px){
  .current-route-display{
    margin-bottom: 50px;
  }
  .landingWrapper{
    height: 710px;
  }
}

@media only screen and (max-width: 376px){
  .landingWrapper{
    height: 750px;
  }
}